<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>805916840528-gmoub19g6mmk5tcoc93qbuti24kiv90p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805916840528-gmoub19g6mmk5tcoc93qbuti24kiv90p</string>
	<key>API_KEY</key>
	<string>AIzaSyDQRhu4Mbsj6T944b7RC5csi_6-Kc3qxtE</string>
	<key>GCM_SENDER_ID</key>
	<string>805916840528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.organiplay.app</string>
	<key>PROJECT_ID</key>
	<string>organiplay</string>
	<key>STORAGE_BUCKET</key>
	<string>organiplay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805916840528:ios:d05a83b92e5a9ff7</string>
	<key>DATABASE_URL</key>
	<string>https://organiplay.firebaseio.com</string>
</dict>
</plist>