<ion-list no-lines>
  <div id="icone">
        <ion-icon name="contact"></ion-icon>
    </div>
  <ion-item>
    <ion-icon name="heart" item-start></ion-icon>
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="status.hp + '%'">
        {{ status.hp }}%
      </div>
    </div>
    <div item-end>
      <ion-icon name="cash" icon-only></ion-icon>
      <p>{{status.coins}}</p>
    </div>
  </ion-item>

  <ion-item>
    <ion-icon name="star" item-start></ion-icon>
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="status.xp + '%'">
        {{ status.xp }}%
      </div>
    </div>
    <div item-end>
      <ion-icon name="snow"></ion-icon>
      <p>{{status.gems}}</p>
    </div>
  </ion-item>
</ion-list>