<ion-list no-lines>
  <ion-item>
    <ion-icon name="heart" color="danger" item-start></ion-icon>
    <div class="progress-outer" id="hp">
      <div class="progress-inner" [style.width]="status.hp + '%'">
        {{ status.hp }}%
      </div>
    </div>
  </ion-item>

  <ion-item>
    <ion-icon name="star" color="xp" item-start></ion-icon>
    <div class="progress-outer" id="xp">
      <div class="progress-inner" [style.width]="status.xp + '%'">
        {{ status.xp }}%
      </div>
    </div>
    <div item-end>
      <ion-icon name="cash" id="icone-dinheiro" color="cash"> {{status.coins}} </ion-icon>
      <ion-icon name="snow" color="gems"> {{status.gems}} </ion-icon>
    </div>
  </ion-item>
</ion-list>