<ion-header>

	<ion-navbar>
		<ion-title>Loja</ion-title>
	</ion-navbar>

	<ion-toolbar>
		<ion-segment [(ngModel)]="view">
			<ion-segment-button value="avatares">
				Avatares
			</ion-segment-button>
			<ion-segment-button value="pocoes">
				Poções
			</ion-segment-button>
			<ion-segment-button value="temas">
				Temas
			</ion-segment-button>
			<ion-segment-button value="wallpapers">
				Wallpapers
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

</ion-header>


<ion-content padding>

	<div [hidden]="view != 'avatares'">
		<ion-list *ngIf="avatares">
			<ion-grid *ngFor="let avatar of (avatares | async)">
				<item-loja *ngIf="avatar.ativado && (avatar.qtd != 0)" 
				[itemLoja]="avatar" [isComprado]="isComprado(avatar)" [isUsando]="isUsando(avatar)"></item-loja>
			</ion-grid>
		</ion-list>
	</div>

	<div [hidden]="view != 'pocoes'">
		<ion-list *ngIf="pocoes">
			<ion-grid *ngFor="let pocao of (pocoes | async)">
				<item-loja *ngIf="pocao.ativado && (pocao.qtd != 0)" 
				[itemLoja]="pocao" [isComprado]="isComprado(pocao)"></item-loja>
			</ion-grid>
		</ion-list>
	</div>

	<div [hidden]="view != 'temas'">
		<ion-list *ngIf="temas">
			<ion-grid *ngFor="let tema of temas">
				<item-loja *ngIf="tema.ativado && (tema.qtd != 0)" 
				[itemLoja]="tema" [isComprado]="isComprado(tema)" [isUsando]="isUsando(tema)"></item-loja>
			</ion-grid>
		</ion-list>
	</div>

	<div [hidden]="view != 'wallpapers'">
		<ion-list *ngIf="wallpapers">
			<ion-grid *ngFor="let wppr of (backgroundImgs | async)">
				<item-loja *ngIf="wppr.ativado && (wppr.qtd != 0)" 
				[itemLoja]="wppr" [isComprado]="isComprado(wppr)" [isUsando]="isUsando(wppr)"></item-loja>
			</ion-grid>
		</ion-list>
	</div>

</ion-content>