@font-face {
  font-family: 'icomoon';
  src:  url('../assets/');
  src:  url('../assets/#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?yz8sad') format('truetype'),
    url('../assets/fonts/icomoon.woff?yz8sad') format('woff'),
    url('../assets/fonts/icomoon.svg?yz8sad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-op-coins .path1:before {
  content: "\e900";
  color: rgb(228, 175, 24);
}
.icon-op-coins .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(244, 191, 26);
}
.icon-op-coins .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(228, 175, 24);
}
.icon-op-coins .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 217, 73);
}
.icon-op-coins .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(244, 191, 26);
}
.icon-op-coins .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(220, 168, 21);
}
.icon-op-coins .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path40:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path41:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(196, 146, 20);
}
.icon-op-coins .path42:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(252, 198, 45);
}
.icon-op-coins .path43:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 217, 73);
}
.icon-op-coins .path44:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(252, 198, 45);
}
.icon-op-diamond .path1:before {
  content: "\e92c";
  color: rgb(204, 46, 72);
}
.icon-op-diamond .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(252, 57, 82);
}
.icon-op-diamond .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(247, 99, 99);
}
.icon-op-diamond .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(244, 154, 154);
}
.icon-op-diamond .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(203, 70, 95);
}
