<ion-header>
  <ion-navbar>
    <ion-title>
      {{mundo.mundo}}
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="tarefas">
        Tarefas
      </ion-segment-button>
      <ion-segment-button value="jogadores">
        Jogadores
      </ion-segment-button>
      <ion-segment-button value="recompensas">
        Recompensas
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar" (ionInput)="filterItens($event)" *ngIf="view == 'tarefas'"></ion-searchbar>
    <ion-searchbar placeholder="Pesquisar" (ionInput)="filterItens($event)" *ngIf="view == 'jogadores'"></ion-searchbar>
    <ion-searchbar placeholder="Pesquisar" (ionInput)="filterItens($event)" *ngIf="view == 'recompensas'"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="view">

    <div *ngSwitchCase="'tarefas'" class="tarefas no-push-detail">
      <ion-list id="no-detail">
        <button *ngFor="let tarefa of (tarefas | async)" ion-item (click)="onClickTarefa(tarefa)" [ngClass]="{'riscado': isComprovada(tarefa)}">
          <ion-icon class="main-icon" [name]="tarefa.icon" icon-only item-start *ngIf="tarefa.icon"></ion-icon>
          <h2>{{tarefa.afazer}}</h2>
          <h2 *ngIf="tarefa.dataFim">
            <ion-icon name="calendar" icon-only large></ion-icon> {{tarefa.dataFim | date: 'dd/MM/yyyy'}}
          </h2>
          <p *ngIf="tarefa.descricao">{{tarefa.descricao}}</p>
          <div item-end class="check-holder">
            <ion-icon name="checkmark" class="check" icon-only *ngIf="isComprovada(tarefa)"></ion-icon>
            <ion-icon name="checkmark" class="check unchecked" icon-only *ngIf="!isComprovada(tarefa)"></ion-icon>
          </div>
        </button>
      </ion-list>
    </div>

    <div *ngSwitchCase="'jogadores'">
      <ion-list *ngIf="playersList">
        <button ion-item *ngFor="let player of (playersList | async)" click="onClickPlayer(player)">
          <ion-avatar item-start>
            <img class="round" [src]="player.settings.currentAvatar || 'assets/imgs/no-photo.jpg'">
          </ion-avatar>
          <h2>{{player.username}}</h2>
          <p>{{player.name}}</p>
        </button>
      </ion-list>
    </div>

    <div *ngSwitchCase="'recompensas'" class="no-push-detail">
      <ion-list *ngIf="recompensasList">
        <ion-list-header>
          Disponíveis
        </ion-list-header>
        <div *ngFor="let recompensa of (recompensasList | async)">
          <button ion-item *ngIf="!isPortador(recompensa)" (click)="showAlertRecompensa(recompensa)">
            <ion-icon *ngIf="!recompensa.photoUrl" [name]="recompensa.icon" item-start></ion-icon>
            <ion-avatar item-start *ngIf="recompensa.photoUrl">
              <img class="round" [src]="recompensa.photoUrl">
            </ion-avatar>
            <h2>{{recompensa.recompensa}}</h2>
            <p>{{recompensa.descricao}}</p>
            <ion-icon class="icon tarefa" name="list" large *ngIf="recompensa.afazer" item-end></ion-icon>
            <ion-icon class="icon moedas" name="cash" large *ngIf="recompensa.moedas" item-end></ion-icon>
            <ion-icon class="icon gemas" name="snow" large *ngIf="recompensa.gemas" item-end></ion-icon>
            <ion-icon class="icon dinheiro" name="cash" large *ngIf="recompensa.dinheiro" item-end></ion-icon>
            <ion-icon class="icon podium" name="podium" large *ngIf="recompensa.nivel" item-end></ion-icon>
          </button>
        </div>
      </ion-list>
      <br>
      <ion-list *ngIf="recompensasList">
        <ion-list-header>
          Obtidas
        </ion-list-header>
        <div *ngFor="let recompensa of (recompensasList | async)">
          <button ion-item *ngIf="isPortador(recompensa)" (click)="showAlertRecompensa(recompensa)" disabled>
            <ion-icon *ngIf="!recompensa.photoUrl" [name]="recompensa.icon" item-start></ion-icon>
            <ion-avatar item-start *ngIf="recompensa.photoUrl">
              <img class="round" [src]="recompensa.photoUrl">
            </ion-avatar>
            <h2>{{recompensa.recompensa}}</h2>
            <p>{{recompensa.descricao}}</p>
            <ion-icon class="icon tarefa" name="list" large *ngIf="recompensa.afazer" item-end></ion-icon>
            <ion-icon class="icon moedas" name="cash" large *ngIf="recompensa.moedas" item-end></ion-icon>
            <ion-icon class="icon gemas" name="snow" large *ngIf="recompensa.gemas" item-end></ion-icon>
            <ion-icon class="icon dinheiro" name="cash" large *ngIf="recompensa.dinheiro" item-end></ion-icon>
            <ion-icon class="icon podium" name="podium" large *ngIf="recompensa.nivel" item-end></ion-icon>
          </button>
        </div>
      </ion-list>
    </div>
  </div>

</ion-content>