page-afazeres {
    ion-icon{
        margin-right: 5px;
    }

    h2, .main-icon {
        color: map-get($colors, primary);
    }

    .dataFim{
        text-align: right;
    }

    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
        padding-right: 0px;
    }

    button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner, .item[detail-push] .item-inner {
        background-image: none;
        padding-right: 0px;
    }

    .check-holder {
        color: rgb(1, 158, 40);
        .check{
            border: 2px solid;
            border-color: rgb(1, 158, 40);
            padding-left: 2px;
            padding-right: 2px;
        }
        .unchecked {
            color: white;
        }
    }

    .riscado {
        text-decoration: line-through;
    }
}
