<!--
  Generated template for the AfazeresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-header [titulo]="title"></custom-header>
</ion-header>


<ion-content padding>  
	<ion-list>
    <div *ngFor="let item of itens1; let desc of descricao" ion-item text-center>
      <ion-icon name="thumbs-up" color="info" large item-start></ion-icon>
      <h2 id="bom">{{item}}</h2>
      <button id="botao" ion-button color="info" item-end icon-only small>
          <ion-icon name="add-circle"></ion-icon>
      </button>
      <button id="botao" ion-button color="danger" icon-only item-end small>
        <ion-icon name="remove-circle"></ion-icon>
      </button>  
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let item of itens2; let desc of descricao" ion-item text-center>
      <ion-icon name="thumbs-down" color="danger" large item-start></ion-icon>
      <h2 id="ruim">{{item}}</h2>
      <button id="botao" ion-button color="info" item-end icon-only small>
          <ion-icon name="add-circle"></ion-icon>
      </button>
      <button id="botao" ion-button color="danger" icon-only item-end small>
        <ion-icon name="remove-circle"></ion-icon>
      </button>  
    </div>
  </ion-list>
</ion-content>