page-habitos {
    #botao{
    	border: 2px;
    	border-style: solid;
    	border-color: #9C27B0;
    	border-radius: 15%;
    }
    #bom{
        color: #03A9F4;
    }
    #ruim{
        color: #F53D3D;
    }
    #icone{
        font-size:100px;
        margin-left:40%;
    }
    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
        padding-right: 0px;
    }

    button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner, .item[detail-push] .item-inner {
        background-image: none;
        padding-right: 0px;
    }
}