<ion-content>
  <user-info></user-info>
  <ion-list>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onProfile()">
      Perfil
      <ion-icon name="person" item-right></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onProfile()">
      Mundos
      <ion-icon name="globe" item-right></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onProfile()">
      Amigos
      <ion-icon name="people" item-right></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onProfile()">
      Loja
      <ion-icon name="logo-usd" item-right></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onLogout()">
        Sair
        <ion-icon name="log-out" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>